{% extends 'home/base.html' %}

{% block title %}
    <h2>Agregar Comentarios</h2>
{% endblock title %}

{% block content %}
    <h3>Agregar un nuevo comentario:</h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Comentar</button>
    </form>

    <h3>Comentarios existentes:</h3>
    {% for comentario in comentarios %}
        <p>{{ comentario.text }}</p>
        <small>{{ comentario.date_added }}</small>
    {% empty %}
        <p>No hay comentarios aún.</p>
    {% endfor %}

    <p><a href="{% url 'home:index' %}">Ir atrás</a></p>
{% endblock content %}